altnames.cnf

.DS_Store
.backup*_test.json
.backup_test.db
/target
/insecure
**/*.rs.bk
test.db
/vendor
kanidm_rlm_python/test_data/certs/
vendor.tar.gz
kanidm_rlm_python/test_data/ca.pem
loc.sh
todo.sh
vendor.tar.*
*.patch
orca/example_profiles/small/orca-edited.toml
docs/
kanidm_unix_int/pam_tester/Cargo.lock

# VSCODE
/.vscode