
[profile.release]
debug = true
lto = "thin"

[workspace]
members = [
    "kanidm_proto",
    "kanidmd",
    "kanidmd/score",
    "kanidmd/daemon",
    "kanidmd_web_ui",
    "kanidm_client",
    "kanidm_tools",
    "kanidm_unix_int",
    "kanidm_unix_int/nss_kanidm",
    "kanidm_unix_int/pam_kanidm",
    "orca",
    "profiles",
]

exclude = [
    "kanidm_unix_int/pam_tester",
    "kanidm_tui"
]


[patch.crates-io]
# concread = { path = "../concread" }
# concread = { git = "https://github.com/kanidm/concread.git" }

# idlset = { path = "../idlset" }

# ldap3_server = { path = "../ldap3_server" }

# webauthn-rs = { path = "../webauthn-rs" }

# webauthn-authenticator-rs = { path = "../webauthn-authenticator-rs" }

# compact_jwt = { path = "../compact_jwt" }
# compact_jwt = { git = "https://github.com/kanidm/compact-jwt.git" }

