[profile.release]
debug = true
lto = "thin"

[workspace]
resolver = "2"
members = [
    "proto",
    "tools/cli",
    "tools/iam_migrations/freeipa",
    "tools/iam_migrations/ldap",
    "tools/orca",
    "unix_integration",
    "unix_integration/nss_kanidm",
    "unix_integration/pam_kanidm",
    "server/web_ui",
    "server/daemon",
    "server/lib",
    "server/lib-macros",
    "server/core",
    "server/testkit",
    "server/testkit-macros",
    "libs/client",
    "libs/crypto",
    "libs/file_permissions",
    "libs/profiles",
    "libs/sketching",
    "libs/users",
]

[workspace.package]
version = "1.1.0-rc.14-dev"
authors = [
    "William Brown <william@blackhats.net.au>",
    "James Hodgkinson <james@terminaloutcomes.com>",
]
rust-version = "1.66"
edition = "2021"
license = "MPL-2.0"
homepage = "https://github.com/kanidm/kanidm/"
repository = "https://github.com/kanidm/kanidm/"


[patch.crates-io]
## As Kanidm maintains a number of libraries, sometimes during development we need to override them
## with local or git versions. This patch table allows quick uncommenting to achieve that.

# compact_jwt = { path = "../compact_jwt" }
# concread = { path = "../concread" }

# idlset = { path = "../idlset" }

# ldap3_client = { path = "../ldap3/client" }
# ldap3_proto = { path = "../ldap3/proto" }
# ldap3_client = { git = "https://github.com/kanidm/ldap3.git" }
# ldap3_proto = { git = "https://github.com/kanidm/ldap3.git" }

# scim_proto = { path = "../scim/proto" }
# scim_proto = { git = "https://github.com/kanidm/scim.git"  }

base64urlsafedata = { git = "https://github.com/kanidm/webauthn-rs.git", rev = "429662e34d6e760af8cff68760567c6b56dbb2d5" }
webauthn-authenticator-rs = { git = "https://github.com/kanidm/webauthn-rs.git", rev = "429662e34d6e760af8cff68760567c6b56dbb2d5" }
webauthn-rs = { git = "https://github.com/kanidm/webauthn-rs.git", rev = "429662e34d6e760af8cff68760567c6b56dbb2d5" }
webauthn-rs-core = { git = "https://github.com/kanidm/webauthn-rs.git", rev = "429662e34d6e760af8cff68760567c6b56dbb2d5" }
webauthn-rs-proto = { git = "https://github.com/kanidm/webauthn-rs.git", rev = "429662e34d6e760af8cff68760567c6b56dbb2d5" }

# base64urlsafedata = { path = "../webauthn-rs/base64urlsafedata" }
# webauthn-authenticator-rs = { path = "../webauthn-rs/webauthn-authenticator-rs" }
# webauthn-rs = { path = "../webauthn-rs/webauthn-rs" }
# webauthn-rs-core = { path = "../webauthn-rs/webauthn-rs-core" }
# webauthn-rs-proto = { path = "../webauthn-rs/webauthn-rs-proto" }

[workspace.dependencies]
kanidmd_core = { path = "./server/core" }
kanidmd_lib = { path = "./server/lib" }
kanidmd_lib_macros = { path = "./server/lib-macros" }
kanidm_build_profiles = { path = "./libs/profiles", version = "1.1.0-rc.14-dev" }
kanidm_lib_crypto = { path = "./libs/crypto" }
kanidm_lib_file_permissions = { path = "./libs/file_permissions" }
kanidm_client = { path = "./libs/client", version = "1.1.0-rc.14-dev" }
kanidm_proto = { path = "./proto", version = "1.1.0-rc.14-dev" }
kanidm_unix_int = { path = "./unix_integration" }
kanidm_utils_users = { path = "./libs/users" }

serde_with = "3.3.0"
argon2 = { version = "0.5.1", features = ["alloc"] }
async-recursion = "1.0.4"
async-trait = "^0.1.73"
axum = { version = "0.6.20", features = [
    "json",
    "http2",
    "macros",
    "tracing",
    "headers",
    "original-uri",
    "query",
    "form",
    "http2",
] }
axum-csp = { version = "0.0.5" }
base32 = "^0.4.0"
base64 = "^0.21.3"
base64urlsafedata = "0.1.3"
bytes = "^1.3.0"
clap = { version = "^4.4.0", features = ["derive", "env"] }
clap_complete = "^4.4.0"
# Forced by saffron/cron
chrono = "^0.4.28"
compact_jwt = { version = "^0.2.10", default-features = false }
concread = "^0.4.1"
cron = "0.12.0"
crossbeam = "0.8.1"
criterion = "^0.5.1"
csv = "1.2.2"
dialoguer = "0.10.4"
dyn-clone = "^1.0.13"
fernet = "^0.2.1"
filetime = "^0.2.22"
fs2 = "^0.4.3"
futures = "^0.3.28"
futures-concurrency = "^3.1.0"
futures-util = { version = "^0.3.21", features = ["sink"] }
git2 = "0.17.2"
gloo = "^0.8.1"
hashbrown = { version = "0.14.0", features = ["serde", "inline-more", "ahash"] }
hex = "^0.4.3"
hyper = { version = "0.14.27", features = ["full"] }
hyper-tls = "0.5.0"
idlset = "^0.2.4"
enum-iterator = "1.4.0"
js-sys = "^0.3.63"
# REMOVE this
lazy_static = "^1.4.0"
ldap3_client = "^0.3.5"
ldap3_proto = { version = "^0.3.5", features = ["serde"] }

libc = "^0.2.147"
libnss = "^0.4.0"
libsqlite3-sys = "^0.25.0"
lru = "^0.8.0"
mathru = "^0.13.0"
notify-debouncer-full = { version = "0.1" }
num_enum = "^0.5.11"
oauth2_ext = { version = "^4.1.0", package = "oauth2", default-features = false }
openssl-sys = "^0.9"
openssl = "^0.10.57"
paste = "^1.0.14"
pkg-config = "^0.3.27"
proc-macro2 = "1.0.66"
qrcode = "^0.12.0"
quote = "1"
rand = "^0.8.5"
regex = "1.9.5"
reqwest = { version = "0.11.20", default-features = false, features = [
    "cookies",
    "json",
    "gzip",
    "native-tls",
    "native-tls-alpn",
] }
rpassword = "^7.2.0"
rusqlite = "^0.28.0"

scim_proto = "^0.2.1"
sd-notify = "^0.4.1"
selinux = "^0.4.2"
serde = "^1.0.188"
serde_cbor = { version = "0.12.0-dev", package = "serde_cbor_2" }
serde_json = "^1.0.105"
serde-wasm-bindgen = "0.5"
shellexpand = "^2.1.2"
sketching = { path = "./libs/sketching" }
smartstring = "^1.0.1"
smolset = "^1.3.1"
sshkeys = "^0.3.1"
syn = { version = "2.0.29", features = ["full"] }
testkit-macros = { path = "./server/testkit-macros" }
time = { version = "^0.3.21", features = ["formatting", "local-offset"] }

tikv-jemallocator = "0.5"

tokio = "^1.32.0"
tokio-openssl = "^0.6.3"
tokio-util = "^0.7.8"

toml = "^0.5.11"
touch = "^0.0.1"
tracing = { version = "^0.1.37", features = ["max_level_trace", "release_max_level_debug"] }
# tracing = { version = "^0.1.37" }
tracing-subscriber = { version = "^0.3.17", features = ["env-filter"] }
tracing-forest = "^0.1.6"

tss-esapi = "^7.2.0"

url = "^2.4.0"
urlencoding = "2.1.3"
users = "^0.11.0"
uuid = "^1.4.1"

wasm-bindgen = "^0.2.86"
wasm-bindgen-futures = "^0.4.30"
wasm-bindgen-test = "0.3.35"

webauthn-authenticator-rs = { version = "0.5.0-dev", features = ["softpasskey", "softtoken", "mozilla"] }
webauthn-rs = { version = "0.5.0-dev", features = ["preview-features"] }
webauthn-rs-core = "0.5.0-dev"
webauthn-rs-proto = "0.5.0-dev"

web-sys = "^0.3.62"
whoami = "^1.4.1"
walkdir = "2"

yew = "^0.20.0"
yew-router = "^0.17.0"
zxcvbn = "^2.2.2"

nonempty = "0.8.1"
