
[profile.release]
debug = true
lto = "thin"

[workspace]
members = [
    "kanidm_client",
    "kanidm_proto",
    "kanidm_tools",
    "kanidm_unix_int",
    "kanidm_unix_int/nss_kanidm",
    "kanidm_unix_int/pam_kanidm",
    "kanidmd_web_ui",
    "kanidmd/daemon",
    "kanidmd/idm",
    "kanidmd/score",
    "orca",
    "profiles",
]

exclude = [
    "kanidm_unix_int/pam_tester"
]


[patch.crates-io]
# concread = { path = "../concread" }
# concread = { git = "https://github.com/kanidm/concread.git" }

# idlset = { path = "../idlset" }

# ldap3_server = { path = "../ldap3_server" }

base64urlsafedata = { git = "https://github.com/kanidm/webauthn-rs.git", rev = "7a8e6c6b351ab7544f08cf8ba48424baacee1360" }
# webauthn-rs = { path = "../webauthn-rs/webauthn-rs" }
webauthn-rs = { git = "https://github.com/kanidm/webauthn-rs.git", rev = "7a8e6c6b351ab7544f08cf8ba48424baacee1360" }
# webauthn-rs-core = { path = "../webauthn-rs/webauthn-rs-core" }
webauthn-rs-core = { git = "https://github.com/kanidm/webauthn-rs.git", rev = "7a8e6c6b351ab7544f08cf8ba48424baacee1360" }
# webauthn-rs-proto = { path = "../webauthn-rs/webauthn-rs-proto" }
webauthn-rs-proto = { git = "https://github.com/kanidm/webauthn-rs.git", rev = "7a8e6c6b351ab7544f08cf8ba48424baacee1360" }
# webauthn-authenticator-rs = { path = "../webauthn-rs/webauthn-authenticator-rs" }
webauthn-authenticator-rs = { git = "https://github.com/kanidm/webauthn-rs.git", rev = "7a8e6c6b351ab7544f08cf8ba48424baacee1360" }

# compact_jwt = { path = "../compact_jwt" }
# compact_jwt = { git = "https://github.com/kanidm/compact-jwt.git" }


# enshrinken the WASMs
[profile.release.package.kanidmd_web_ui]
# optimization over all codebase ( better optimization, slower build )
codegen-units = 1
# optimization for size ( more aggressive )
opt-level = 'z'
# optimization for size
# opt-level = 's'
# link time optimization using using whole-program analysis
# lto = true
