
[profile.release]
debug = true
lto = "thin"

[workspace]
members = [
    "iam_migrations/freeipa",
    "kanidm_client",
    "kanidm_proto",
    "kanidm_tools",
    "kanidm_unix_int",
    "kanidm_unix_int/nss_kanidm",
    "kanidm_unix_int/pam_kanidm",
    "kanidmd_web_ui",
    "kanidmd/daemon",
    "kanidmd/lib",
    "kanidmd/lib-macros",
    "kanidmd/core",
    "kanidmd/testkit",
    "kanidmd/testkit-macros",
    "orca",
    "profiles",
    "sketching"
]

[workspace.package]
version = "1.1.0-alpha.11-dev"
authors = [
    "William Brown <william@blackhats.net.au>",
    "James Hodgkinson <james@terminaloutcomes.com>",
    ]
rust-version = "1.64"
edition = "2021"
license = "MPL-2.0"
homepage = "https://github.com/kanidm/kanidm/"
repository = "https://github.com/kanidm/kanidm/"

[workspace.dependencies]
async-std = { version = "^1.12.0", features = ["tokio1"] }
async-trait = "^0.1.59"
base32 = "^0.4.0"
base64 = "^0.13.1"
base64urlsafedata = "0.1.2"
bytes = "^1.3.0"
clap = { version = "^3.2", features = ["derive"] }
clap_complete = "^3.2.5"
# Forced by saffron
chrono = "^0.4.23"
compact_jwt = "^0.2.3"
# compact_jwt = { path = "../compact_jwt" }
concread = "^0.4.0"
# concread = { path = "../concread" }
crossbeam = "0.8.1"
criterion = "^0.4.0"
csv = "1.1.6"
dialoguer = "0.10.1"
dyn-clone = "^1.0.9"
fernet = "^0.2.0"
filetime = "^0.2.18"
futures = "^0.3.25"
futures-concurrency = "^3.1.0"
futures-util = "^0.3.21"
gloo = "^0.8.0"
gloo-net = "0.2.5"
hashbrown = { version = "0.12.3", features = ["serde", "inline-more", "ahash"] }
hex = "^0.4.3"
http-types = "^2.12.0"
idlset = "^0.2.4"
# idlset = { path = "../idlset" }
js-sys = "^0.3.58"
kanidmd_core = { path = "./kanidmd/core" }
kanidmd_idm = { path = "./kanidmd/idm" }
kanidmd_lib = { path = "./kanidmd/lib" }
kanidmd_lib_macros = { path = "./kanidmd/lib-macros" }
kanidmd_testkit = { path = "./kanidmd/testkit" }
kanidm_client = { path = "./kanidm_client", version = "1.1.0-alpha.11" }
kanidm_proto = { path = "./kanidm_proto", version = "1.1.0-alpha.11" }
kanidm_unix_int = { path = "./kanidm_unix_int" }
last-git-commit = "0.2.0"
# REMOVE this
lazy_static = "^1.4.0"
# ldap3_client = "^0.3.0"
# ldap3_proto = "^0.3.0"

# ldap3_client = { path = "../ldap3/client", version = "0.3.0" }
# ldap3_proto = { path = "../ldap3/proto", version = "0.3.0" }
# scim_proto = { path = "../scim/proto", version = "0.1.0" }

ldap3_client = { git = "https://github.com/kanidm/ldap3.git", version = "0.3.0" }
ldap3_proto = { git = "https://github.com/kanidm/ldap3.git", version = "0.3.0" }
scim_proto = { git = "https://github.com/kanidm/scim.git", version = "0.1.0" }

libc = "^0.2.138"
libnss = "^0.4.0"
libsqlite3-sys = "^0.25.0"
lru = "^0.8.0"
mathru = "^0.13.0"
num_enum = "^0.5.7"
oauth2_ext = { version = "^4.1.0", package = "oauth2", default-features = false }
openssl-sys = "^0.9"
openssl = "^0.10.43"
paste = "^1.0.9"
pkg-config = "^0.3.26"
proc-macro2 = "1.0.7"
profiles = { path = "./profiles" }
qrcode = "^0.12.0"
quote = "1"
r2d2 = "^0.8.9"
r2d2_sqlite = "^0.21.0"
rand = "^0.8.5"
regex = "1.7.0"
reqwest = { version = "0.11.13", default-features = false, features=["cookies", "json", "gzip", "native-tls"] }
rpassword = "^7.2.0"
rusqlite = "^0.28.0"
saffron = "^0.1.0"
serde = "^1.0.148"
serde_cbor = { version = "0.12.0-dev", package = "serde_cbor_2" }
serde_json = "^1.0.89"
serde-wasm-bindgen = "0.4"
shellexpand = "^2.1.2"
sketching = { path = "./sketching" }
smartstring = "^1.0.1"
smolset = "^1.3.1"
sshkeys = "^0.3.1"
syn = { version = "1.0.105", features = ["full"] }
testkit-macros = { path = "./kanidmd/testkit-macros" }
tide = "^0.16.0"
# Including brotli *very* slow, so don't do that. Including the "default" feature pulls a mime-type list from the internet on build, which isn't used.
tide-compress = { version="0.10.6", default-features = false, features = [ "gzip", "regex-check" ] }
tide-openssl = "^0.1.1"
# Unable to increase version due to removing ability to detect
# local platform time.
time = "=0.2.27"

tikv-jemallocator = "0.5"

tokio = "^1.22.0"
tokio-openssl = "^0.6.3"
tokio-util = "^0.7.4"

toml = "^0.5.9"
touch = "^0.0.1"
tracing = { version = "^0.1.37", features = ["max_level_trace", "release_max_level_debug"] }
tracing-subscriber = { version = "^0.3.16", features = ["env-filter"] }

# tracing-forest = { path = "/Users/william/development/tracing-forest/tracing-forest" }
tracing-forest = { git = "https://github.com/QnnOkabayashi/tracing-forest.git", rev = "48d78f7294ceee47a22eee5c80964143c4fb3fe1" }

url = "^2.3.1"
urlencoding = "2.1.2"
users = "^0.11.0"
uuid = "^1.2.1"

validator = "^0.16.0"

wasm-bindgen = "^0.2.81"
wasm-bindgen-futures = "^0.4.30"
wasm-bindgen-test = "0.3.33"

webauthn-authenticator-rs = "0.4.8"
webauthn-rs = "0.4.8"
webauthn-rs-core = "0.4.8"
webauthn-rs-proto = "0.4.8"
# webauthn-authenticator-rs = { path = "../webauthn-rs/webauthn-authenticator-rs" }
# webauthn-rs = { path = "../webauthn-rs/webauthn-rs" }
# webauthn-rs-core = { path = "../webauthn-rs/webauthn-rs-core" }
# webauthn-rs-proto = { path = "../webauthn-rs/webauthn-rs-proto" }
web-sys = "^0.3.60"
whoami = "^1.2.3"
walkdir = "2"

yew = "^0.19.3"
yew-agent = "^0.1.0"
yew-router = "^0.16.0"
zxcvbn = "^2.2.1"

# enshrinken the WASMs
[profile.release.package.kanidmd_web_ui]
# optimization over all codebase ( better optimization, slower build )
codegen-units = 1
# optimization for size ( more aggressive )
opt-level = 'z'
# link time optimization using using whole-program analysis
# lto = true
