[package]
name = "kanidmd_web_ui_user"
description = "Kanidm Server Web UI - User-Facing"
documentation = "https://docs.rs/kanidm/latest/kanidm/"

version = { workspace = true }
authors = [
    "William Brown <william@blackhats.net.au>",
    "James Hodgkinson <james@terminaloutcomes.com>",
]
rust-version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
gloo = { workspace = true }
js-sys = { workspace = true }
kanidm_proto = { workspace = true, features = ["wasm"] }
kanidmd_web_ui_shared = { workspace = true }
qrcode = { workspace = true, features = ["svg"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
serde-wasm-bindgen = { workspace = true }
wasm-bindgen = { workspace = true }
wasm-bindgen-futures = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }
yew = { workspace = true, features = ["csr"] }
yew-router = { workspace = true }
time = { workspace = true }
gloo-timers = "0.3.0"
wasm-timer = "0.2.5"
regex.workspace = true
lazy_static.workspace = true
gloo-utils = { workspace = true }

[dependencies.web-sys]
workspace = true
features = [
    "AuthenticationExtensionsClientOutputs",
    "AuthenticatorResponse",
    "CredentialCreationOptions",
    "CredentialRequestOptions",
    "CredentialsContainer",
    "DomTokenList",
    "Element",
    "Event",
    "FocusEvent",
    "FormData",
    "Headers",
    "HtmlButtonElement",
    "HtmlDocument",
    "HtmlFormElement",
    "Navigator",
    "PublicKeyCredential",
    "PublicKeyCredentialCreationOptions",
    "PublicKeyCredentialRpEntity",
    "PublicKeyCredentialUserEntity",
    "Request",
    "RequestCredentials",
    "RequestInit",
    "RequestMode",
    "RequestRedirect",
    "Response",
    "Window",
]

[dev-dependencies]
wasm-bindgen-test = { workspace = true }
