[package]
name = "daemon"
description = "Kanidm Server Daemon"
documentation = "https://docs.rs/kanidm/latest/kanidm/"

version.workspace = true
authors.workspace = true
rust-version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "kanidmd"
path = "src/main.rs"

[dependencies]
# Remove these!
kanidm_proto.workspace = true
kanidmd_lib.workspace = true

kanidmd_core.workspace = true
sketching.workspace = true

clap = { workspace = true, features = ["env"] }
reqwest = { workspace = true }
serde = { workspace = true, features = ["derive"] }
tokio = { workspace = true, features = ["rt-multi-thread", "macros", "signal"] }
toml = { workspace = true }

[target.'cfg(target_family = "windows")'.dependencies]
whoami.workspace = true

[target.'cfg(not(target_family = "windows"))'.dependencies]
users.workspace = true
tikv-jemallocator.workspace = true

[build-dependencies]
serde = { workspace = true, features = ["derive"] }
clap = { workspace = true, features = ["derive"] }
clap_complete.workspace = true
profiles.workspace = true
