[package]
name = "kanidm_unix_int"
version = "0.1.2"
authors = ["William Brown <william@blackhats.net.au>"]
edition = "2018"
license = "MPL-2.0"
description = "Kanidm Unix Integration Clients"
documentation = "https://docs.rs/kanidm/latest/kanidm/"
homepage = "https://github.com/kanidm/kanidm/"
repository = "https://github.com/kanidm/kanidm/"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "kanidm_unix_common"
path = "src/lib.rs"

[[bin]]
name = "kanidm_unixd"
path = "src/daemon.rs"

[[bin]]
name = "kanidm_ssh_authorizedkeys"
path = "src/ssh_authorizedkeys.rs"

[[bin]]
name = "kanidm_cache_invalidate"
path = "src/cache_invalidate.rs"

[[bin]]
name = "kanidm_cache_clear"
path = "src/cache_clear.rs"

[[bin]]
name = "kanidm_unixd_status"
path =  "src/daemon_status.rs"

[[bin]]
name = "kanidm_test_auth"
path =  "src/test_auth.rs"

[dependencies]
kanidm_client = { path = "../kanidm_client", version = "0.1" }
kanidm_proto = { path = "../kanidm_proto", version = "0.1" }
kanidm = { path = "../kanidmd" }
toml = "0.5"
rpassword = "4.0"
tokio = { version = "0.2", features=["full"] }
tokio-util = { version = "0.3", features = ["codec"] }
futures = "0.3"
bytes = "0.5"

libc = "0.2"
log = "0.4"
env_logger = "0.7"
serde = "1.0"
serde_derive = "1.0"
serde_cbor = "0.11"
structopt = { version = "0.3", default-features = false }

rusqlite = { version = "0.21" }
r2d2 = "0.8"
r2d2_sqlite = "0.14"

reqwest = { version = "0.10" }

[dev-dependencies]
kanidm = { path = "../kanidmd", version = "0.1" }
actix = "0.9"
