(% extends "admin/admin_partial_base.html" %)

(% block persons_item_extra_classes %)active(% endblock %)

(% block admin_page %)
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Person Management</li>
    </ol>
</nav>

<h2>Create new user</h2>

<form hx-boost="true"
        hx-post="/ui/api/admin/person/create"
        hx-target="#persons"
        hx-swap="beforeend">
    <div class="col-12 col-md-11 col-lg-8">
        <div class="input-group">
            <input type="text" class="form-control" id="add-person-input" name="name"
                aria-label="Name of person to add" placeholder="username"
                aria-describedby="add-person-button">
            <input type="text" class="form-control" id="add-person-email-input" name="email"
                aria-label="Email address of person to add" placeholder="email"
                aria-describedby="add-person-button">
            <button class="btn btn-primary float-end" id="add-person-button">Add person</button>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Uuid</th>
        </tr>
    </thead>
    <tbody id="persons">
    (% for (person, _) in persons %)
        (% let person_name = person.name.clone() %)
        (% let person_uuid = person.uuid.clone() %)
        (% include "admin_person_entry_partial.html" %)
    (% endfor %)
    </tbody>
</table>

<div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
(% endblock %)
