<li class="list-group-item d-flex flex-row justify-content-between" hx-target="this">
    <form hx-post="/ui/api/admin/group/(( group_uuid ))/remove_member"
          hx-swap="delete"
          class="d-flex align-items-center flex-grow-1">
        <div class="flex-grow-1"><input readonly type="text" name="member" value="(( member_name ))" class="form-control-plaintext py-0"></div>
        <div class="buttons float-end">
            (% if can_edit_member %)
            <button type="submit" class="btn btn-secondary kanidm-remove-list-entry">Remove</button>
            (% endif %)
        </div>
    </form>
</li>
