#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)

# be REALLY noisy
export DH_VERBOSE=1
export DH_OPTIONS=-v

export DEB_BUILD_OPTIONS=noautodbgsym

PKGDIR=debian/kanidm-pamnss/
BINDIR=${PKGDIR}/usr/sbin/

%:
	dh $@

override_dh_auto_clean:
	cargo clean
override_dh_autoreconf:
	echo "Installing rustup"
	curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs > /tmp/rustup.sh
	chmod +x /tmp/rustup.sh
	/tmp/rustup.sh -y
	rustup default

override_dh_auto_build:
	dh_auto_build -- release/kanidm-ssh

override_dh_auto_test:

override_dh_auto_install:
	mkdir -p ${BINDIR}
	install \
		-g root -o root \
		target/release/kanidmd \
		${BINDIR}
	install --directory \
		-g root -o root \
		kanidmd_web_ui/pkg \
		${PKGDIR}/usr/share/kanidm/ui/pkg


# mkdir -p ${PKGDIR}/usr/share/kanidm/
override_dh_installexamples:
	install -D \
		-g root -o root \
		examples/kanidm \
		${PKGDIR}/usr/share/kanidm/
	install -D \
		-g root -o root \
		--mode=644 \
		examples/server.toml \
		${PKGDIR}/usr/share/kanidm/


