[package]
name = "kanidmd_web_ui"
version = "1.1.0-alpha.8"
authors = [
    "William Brown <william@blackhats.net.au>",
    "James Hodgkinson <james@terminaloutcomes.com>",
    ]
rust-version = "1.59"
edition = "2021"
license = "MPL-2.0"
description = "Kanidm Server Web User Interface"
documentation = "https://docs.rs/kanidm/latest/kanidm/"
homepage = "https://github.com/kanidm/kanidm/"
repository = "https://github.com/kanidm/kanidm/"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = { version = "^1.0.137", features = ["derive"] }
serde_json = "^1.0.80"

wasm-bindgen = { version = "^0.2.81", features = ["serde-serialize"] }
wasm-bindgen-futures = { version = "^0.4.30" }
kanidm_proto = { path = "../kanidm_proto" }

webauthn-rs = { version = "^0.3.2", default-features = false, features = ["wasm"] }
qrcode = { version = "^0.12.0", default-features = false, features = ["svg"] }

yew-router = "^0.16.0"
yew = "^0.19.3"
yew-agent = "^0.1.0"
gloo = "^0.7.0"
js-sys = "^0.3.58"

compact_jwt = { version = "^0.2.2", default-features = false, features = ["unsafe_release_without_verify"] }
# compact_jwt = { path = "../../compact_jwt" , default-features = false, features = ["unsafe_release_without_verify"] }

[dependencies.web-sys]
version = "^0.3.58"
features = [
    "AuthenticationExtensionsClientOutputs",
    "AuthenticatorResponse",
    "CredentialCreationOptions",
    "CredentialRequestOptions",
    "CredentialsContainer",
    "DomTokenList",
    "Element",
    "Event",
    "FocusEvent",
    "Headers",
    "HtmlButtonElement",
    "HtmlDocument",
    "Navigator",
    "PublicKeyCredential",
    "PublicKeyCredentialCreationOptions",
    "PublicKeyCredentialRpEntity",
    "PublicKeyCredentialUserEntity",
    "Request",
    "RequestCredentials",
    "RequestInit",
    "RequestMode",
    "RequestRedirect",
    "Response",
    "Window",
]

