[package]
name = "kanidm_client"
version = "1.1.0-alpha.4"
authors = ["William Brown <william@blackhats.net.au>"]
edition = "2018"
license = "MPL-2.0"
description = "Kanidm Client Library"
documentation = "https://docs.rs/kanidm_client/latest/kanidm_client/"
homepage = "https://github.com/kanidm/kanidm/"
repository = "https://github.com/kanidm/kanidm/"

[dependencies]
log = "0.4"
env_logger = "0.8"
reqwest = { version = "0.11", features=["blocking", "cookies", "json", "native-tls"] }
kanidm_proto = { path = "../kanidm_proto", version = "1.1.0-alpha" }
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
toml = "0.5"
uuid = { version = "0.8", features = ["serde", "v4"] }
url = "2.1.1"
webauthn-rs = "0.3.0-alpha.7"
tokio = { version = "1", features = ["rt", "net", "time", "macros", "sync", "signal"] }

[dev-dependencies]
tokio = { version = "1", features = ["rt", "net", "time", "macros", "sync", "signal"] }
kanidm = { path = "../kanidmd" }
futures = "0.3"
async-std = "1.6"

webauthn-authenticator-rs = "0.3.0-alpha.8"
