[package]
name = "kanidm_client"
version = "1.1.0-alpha.3"
authors = ["William Brown <william@blackhats.net.au>"]
edition = "2018"
license = "MPL-2.0"
description = "Kanidm Client Library"
documentation = "https://docs.rs/kanidm_client/latest/kanidm_client/"
homepage = "https://github.com/kanidm/kanidm/"
repository = "https://github.com/kanidm/kanidm/"

[dependencies]
log = "0.4"
env_logger = "0.7"
reqwest = { version = "0.10", features=["blocking", "cookies", "json", "native-tls"] }
kanidm_proto = { path = "../kanidm_proto", version = "1.1.0-alpha" }
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
toml = "0.5"
uuid = { version = "0.8", features = ["serde", "v4"] }
url = "2.1.1"
# users = "0.10"
# webauthn-authenticator-rs = "^0.1.2"
# webauthn-authenticator-rs = { path = "../../webauthn-authenticator-rs" }

webauthn-rs = "0.3.0-alpha.1"
# webauthn-rs = { path = "../../webauthn-rs" }

[dev-dependencies]
tokio = { version = "0.2", features = ["full"] }
kanidm = { path = "../kanidmd" }
futures = "0.3"
async-std = "1.6"

webauthn-authenticator-rs = "0.3.0-alpha.1"
# webauthn-authenticator-rs = { path = "../../webauthn-authenticator-rs" }
