#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)

# be REALLY noisy
export DH_VERBOSE=1
export DH_OPTIONS=-v

export DEB_BUILD_OPTIONS=noautodbgsym

PKGDIR=debian/kanidm-unixd
BINDIR=${PKGDIR}/usr/sbin/

%:
	dh $@

override_dh_auto_clean:

override_dh_autoreconf:
	./platform/debian/install_deps.sh

override_dh_auto_build:
	dh_auto_build -- release/kanidm-unixd

override_dh_auto_test:
override_dh_shlibdeps:
override_dh_strip:

override_dh_auto_install:
	mkdir -p ${BINDIR}
	install \
		-g root -o root \
		target/release/kanidm_unixd \
		${BINDIR}
	install \
		-g root -o root \
		target/release/kanidm_unixd_status \
		${BINDIR}
	install \
		-g root -o root \
		target/release/kanidm_unixd_tasks \
		${BINDIR}
	install \
		-g root -o root \
		target/release/kanidm_cache_clear \
		${BINDIR}
	install \
		-g root -o root \
		target/release/kanidm_cache_invalidate \
		${BINDIR}


override_dh_installexamples:
	mkdir -p ${PKGDIR}/usr/share/kanidm/
	install -D \
		-g root -o root \
		examples/kanidm \
		${PKGDIR}/usr/share/kanidm/
	install -D \
		-g root -o root \
		--mode=644 \
		examples/server.toml \
		${PKGDIR}/usr/share/kanidm/


