<div class="modal fade" id="staticPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticPasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticPasswordLabel">Add a New Password</h5>
                <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation" novalidate
                      hx-post="/ui/reset/pw_check"
                      hx-trigger="input from:#new-password delay:200ms changed, input from:#new-password-check delay:200ms changed">
                    <input hidden=true type="text" autocomplete="username" />
                    <label for="new-password" class="form-label">Enter New Password</label>
                    <input
                            aria-describedby="password-validation-feedback"
                            autocomplete="new-password"
                            class="form-control"
                            id="new-password"
                            placeholder=""
                            type="password"
                            required
                    />
                    <label for="new-password-check" class="form-label">Repeat Password</label>
                    <input
                            aria-describedby="new-password-check-feedback"
                            autocomplete="new-password"
                            class="form-control"
                            id="new-password-check"
                            placeholder=""
                            type="password"
                            required
                    />
                </form>
            </div>
            <div class="modal-footer">
                <button id="password-cancel" type="button" class="btn btn-secondary">Cancel</button>
                <button id="password-submit" type="button" class="btn btn-primary"
                        hx-include="#newPasswordForm" hx-post="/ui/reset/new_pwd">Submit</button>
            </div>
        </div>
    </div>
</div>