#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)

# be REALLY noisy
export DH_VERBOSE=1
export DH_OPTIONS=-v

export DEB_BUILD_OPTIONS=noautodbgsym

PKGDIR=debian/kanidm
BINDIR=${PKGDIR}/usr/bin/

%:
	dh $@

override_dh_auto_clean:

override_dh_auto_configure:

override_dh_auto_build:
	dh_auto_build -- release/kanidm

override_dh_auto_test:
override_dh_shlibdeps:
override_dh_strip:

override_dh_auto_install:
	mkdir -p ${BINDIR}
	install -D \
		-g root \
		-o root \
		--mode 755 \
		target/release/kanidm \
		${BINDIR}

override_dh_installexamples:
	mkdir -p ${PKGDIR}/usr/share/kanidm/
	install -D \
	    -g root \
		-o root \
		--mode 644 \
		examples/config \
		${PKGDIR}/usr/share/kanidm/kanidm
