[package]
name = "kanidm_tools"
version = "1.1.0-alpha.5"
authors = ["William Brown <william@blackhats.net.au>"]
edition = "2018"
default-run = "kanidm"
license = "MPL-2.0"
description = "Kanidm Client Tools"
documentation = "https://docs.rs/kanidm_tools/latest/kanidm_tools/"
homepage = "https://github.com/kanidm/kanidm/"
repository = "https://github.com/kanidm/kanidm/"

[lib]
name = "kanidm_cli"
path = "src/cli/lib.rs"

[[bin]]
name = "kanidm"
path = "src/cli/main.rs"
doc = false

[[bin]]
name = "kanidm_ssh_authorizedkeys_direct"
path = "src/ssh_authorizedkeys.rs"

[[bin]]
name = "kanidm_badlist_preprocess"
path = "src/badlist_preprocess.rs"

[dependencies]
kanidm_client = { path = "../kanidm_client", version = "1.1.0-alpha.4" }
kanidm_proto = { path = "../kanidm_proto", version = "1.1.0-alpha.4" }
rpassword = "5.0"
structopt = { version = "0.3", default-features = false }
libc = "0.2"
log = "0.4"
env_logger = "0.8"
serde = "1.0"
serde_json = "1.0"
shellexpand = "2.0"
rayon = "1.2"
time = { version = "0.2", features = ["serde", "std"] }
qrcode = { version = "0.12", default-features = false }
bundy = "0.1"

reqwest = { version = "0.11" }

zxcvbn = "2.0"

dialoguer =  "0.5.1"

webauthn-authenticator-rs = "^0.3.0-alpha.9"
# webauthn-authenticator-rs = { path = "../../webauthn-authenticator-rs/" }

[build-dependencies]
structopt = { version = "0.3", default-features = false }
