#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)

# be REALLY noisy
export DH_VERBOSE=1
export DH_OPTIONS=-v

export DEB_BUILD_OPTIONS=noautodbgsym

PKGDIR=debian/kanidmd/
BINDIR=${PKGDIR}/usr/sbin/

%:
	dh $@

override_dh_auto_clean:
	cargo clean
override_dh_autoreconf:
	echo "Installing rustup"
	curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs > /tmp/rustup.sh
	chmod +x /tmp/rustup.sh
	/tmp/rustup.sh -y
	rustup default
	echo "Installing cargo"
	cargo install wasm-pack

override_dh_auto_build:
	KANIDM_BUILD_PROFILE=release_suse_generic cargo build -p daemon --bin kanidmd --release

	cd kanidmd_web_ui/ && ./build_wasm_release.sh

override_dh_auto_test:
	cargo test

# cargo test

override_dh_auto_install:
	mkdir -p ${BINDIR}
	install \
		-g root -o root \
		target/release/kanidmd \
		${BINDIR}
	install  --directory \
		-g root -o root \
		kanidmd_web_ui/pkg \
		${PKGDIR}/usr/share/kanidm/ui/pkg


override_dh_installexamples:
	mkdir -p ${PKGDIR}/usr/share/kanidm/
	install \
		-g root -o root \
		examples/kanidm \
		${PKGDIR}/usr/share/kanidm/
	install \
		-g root -o root \
		examples/server.toml \
		${PKGDIR}/usr/share/kanidm/


