#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)

# be REALLY noisy
export DH_VERBOSE=1
export DH_OPTIONS=-v

export DEB_BUILD_OPTIONS=noautodbgsym

PKGDIR=debian/kanidmd
BINDIR=${PKGDIR}/usr/sbin/

%:
	dh $@

override_dh_auto_clean:
# cargo clean

override_dh_autoreconf:

override_dh_auto_build:
	./platform/debian/fix_wasm_opt.sh
	source ~/.cargo/env && cd kanidmd_web_ui && ./build_wasm.sh
	dh_auto_build -- release/kanidmd

override_dh_auto_test:
override_dh_shlibdeps:
override_dh_strip:

override_dh_auto_install:
	mkdir -p ${BINDIR}
	install \
		-g root -o root \
		target/release/kanidmd \
		${BINDIR}
	install --directory \
		-g root -o root \
		kanidmd_web_ui/pkg \
		${PKGDIR}/usr/share/kanidm/ui/pkg


override_dh_installexamples:
	mkdir -p ${PKGDIR}/usr/share/kanidm/
	install -D \
		-g root -o root \
		examples/kanidm \
		${PKGDIR}/usr/share/kanidm/
	install -D \
		-g root -o root \
		--mode=644 \
		examples/server.toml \
		${PKGDIR}/usr/share/kanidm/


