html,
body {
  height: 100%;
}

.input-hidden {
  display: none;
}

.form-cred-reset-body {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

#settings-window:has(.form-cred-reset-body) .form-cred-reset-body {
  max-width: unset;
  padding: unset;
}

.form-signin-body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 680px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* DASHBOARD */

.dash-body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
    right: 0;
    */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Personal Settings sidemenu
 */


/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 2rem;
  font-size: 1.25rem;
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar-toggler-img {
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.vert-center {
  height: 80%;
  display: flex;
  align-items: center;
}

.kanidm_logo {
  width: 12em;
  height: 12em;
}

.identity-verification-container {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: center;
  margin: auto;
}

:root {
  --totp-width-and-height: 30px;
  --totp-stroke-width: 60px;
}

.totp-display-container {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  align-items: center;
  margin: auto;
  border-radius: 15px;
  background: #21252915;
  box-shadow: -5px -5px 11px #ededed, 5px 5px 11px #ffffff;
  margin: 15px;
}

.totp-display {
  font-size: 35px;
  margin: 10px;
}

.totp-timer {
  margin: 10px;
  position: relative;
  height: var(--totp-width-and-height);
  width: var(--totp-width-and-height);
}

/* Removes SVG styling that would hide the time label */
.totp-timer__circle {
  fill: none;
  stroke: none;
}

.totp-timer__path-remaining {
  stroke-width: var(--totp-stroke-width);

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  stroke: currentColor;
}

.totp-timer__svg {
  transform: scaleX(-1);
}

.totp-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.totp-timer__path-remaining.orange {
  color: orange;
}

.totp-timer__path-remaining.red {
  color: red;
}

.totp-timer__path-remaining.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.oauth2-img {
  max-width: 150px;
  max-height: 150px;
}

#graph-container svg {
  max-width: 100%;
  height: fit-content;
}





