[package]
name = "kanidm_device_flow"
description = "Kanidm Device Flow Client"
documentation = "https://kanidm.github.io/kanidm/stable/"
version = { workspace = true }
authors = { workspace = true }
rust-version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }


[lib]
test = false
doctest = false

[features]

[dependencies]
kanidm_proto = { workspace = true }
anyhow = { workspace = true }
oauth2 = "4.4.2"
reqwest = { version = "0.12.12", default-features = false, features = [
    "rustls-tls",
] }

tokio = { workspace = true, features = ["full"] }
url = { workspace = true }
tracing = { workspace = true }
sketching = { workspace = true }
base64.workspace = true
