
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="theme-color" content="white" />
        <meta name="viewport" content="width=device-width" />
        <title>{}</title>

        <link rel="icon" href="/pkg/img/favicon.png" />
        <link rel="manifest" href="/manifest.webmanifest" />
        <link rel="apple-touch-icon" href="/pkg/img/logo-256.png" />
        <link rel="apple-touch-icon" sizes="180x180"
            href="/pkg/img/logo-180.png" />
        <link rel="apple-touch-icon" sizes="192x192"
            href="/pkg/img/logo-192.png" />
        <link rel="apple-touch-icon" sizes="512x512"
            href="/pkg/img/logo-square.svg" />
        <link rel="stylesheet" href="/pkg/external/bootstrap.min.css"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" />
        <link rel="stylesheet" href="/pkg/style.css" />

        {}

    </head>
    <body class="flex-column d-flex h-100">
        <main class="flex-shrink-0 form-signin">
            <center>
                <img src="/pkg/img/logo-square.svg" alt="Kanidm"
                    class="kanidm_logo" />
                <h3>Kanidm is loading, please wait... </h3>
            </center>
        </main>
        <footer class="footer mt-auto py-3 bg-light text-end">
            <div class="container">
                <span class="text-muted">Powered by <a
                        href="https://kanidm.com">Kanidm</a></span>
            </div>
        </footer>
    </body>
</html>