<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="theme-color" content="white" />
		<meta name="viewport" content="width=device-width" />

		<title>(% block title %)(( title )) - Kanidm(% endblock %)</title>

		<link rel="icon" href="/pkg/img/favicon.png" />
		<link rel="apple-touch-icon" href="/pkg/img/logo-256.png" />
		<link rel="apple-touch-icon" sizes="180x180"
			href="/pkg/img/logo-180.png" />
		<link rel="apple-touch-icon" sizes="192x192"
			href="/pkg/img/logo-192.png" />
		<link rel="apple-touch-icon" sizes="512x512"
			href="/pkg/img/logo-square.svg" />

		<link rel="stylesheet" href="/pkg/external/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"/>
		<script src="/pkg/external/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"></script>
		<link rel="stylesheet" href="/pkg/style.css" />

		(% block head %)(% endblock %)
	</head>
	<body>
	(% block body %)(% endblock %)
	</body>
</html>
