<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="theme-color" content="white" />
		<meta name="viewport" content="width=device-width" />

		<title>(% block title %)(( title )) - Kanidm(% endblock %)</title>

		(% include "base_icons.html" %)

		<link rel="stylesheet"
			href="/pkg/external/bootstrap.min.css?v=((crate::https::cache_buster::get_cache_buster_key()))"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" />
		<script
			src="/pkg/external/bootstrap.bundle.min.js?v=((crate::https::cache_buster::get_cache_buster_key()))"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"></script>
		<script
			src="/pkg/style.js?v=((crate::https::cache_buster::get_cache_buster_key()))"
			defer></script>
		<link rel="stylesheet"
			href="/pkg/style.css?v=((crate::https::cache_buster::get_cache_buster_key()))" />

		(% block head %)(% endblock %)
	</head>
	<body class="flex-column d-flex h-100">
		(% block body %)(% endblock %)
		<footer class="footer mt-auto py-3 bs-secondary-bg text-end">
			<div class="container">
				<span class="text-muted">Powered by <a
						href="https://kanidm.com">Kanidm</a></span>
			</div>
		</footer>
	</body>
</html>
