(% extends "base_htmx.html" %)

(% block title %)Reset Credentials(% endblock %)

(% block body %)
<main class="flex-shrink-0 form-signin">
    <center>
        <img src="/pkg/img/logo-square.svg" alt="Kanidm" class="kanidm_logo"/>
        <h2>Credential Reset</h2>
        <h3>(( domain ))</h3>
    </center>
    <form>
        <p class="text-center">
            <label for="token" class="form-label">Enter your credential reset token.</label>
            <input
                    id="token"
                    name="token"
                    autofocus
                    type="text"
                    class="form-control"
                    value=""
            />
        </p>
        <p class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <br/>
        </p>
    </form>
    <p class="text-center">
        <a href="/ui/apps">
            <button class="btn btn-secondary" aria-label="Return home">Return to the home page</button>
        </a>
    </p>
</main>
(% endblock %)