<hr class="my-4" />
<h4>Attested Passkeys</h4>
(% for passkey in attested_passkeys %)
    (% let remove_id = format!("staticPasskeyRemove-{:?}", passkey.uuid) %)
    (% let remove_label = format!("staticPasskeyRemoveLabel-{:?}", passkey.uuid) %)
    (% let remove_tgt = format!("#{remove_id}") %)
    <div class="row mb-3">
        <div class="col">(( passkey.tag ))</div>
        <div class="col">
            <button type="button" class="btn btn-dark btn-sml" id="(( passkey.tag ))" data-bs-toggle="modal" data-bs-target="(( remove_tgt ))" >
                Remove
            </button>
        </div>
    </div>
    <div class="modal fade" id="(( remove_id ))" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="(( remove_tgt ))" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="(( remove_label ))">Delete Passkey</h5>
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>msg</p>
                </div>
                <div class="modal-footer">
                    <button id="delete-passkey-cancel" type="button" class="btn btn-secondary">Cancel</button>
                    <!-- TODO: Devise new means to do the disabling of buttons like this, maybe a macro :think: -->
                    <button id="delete-passkey-submit" type="button" class="btn btn-danger"
                            disabled="!submit_enabled">Submit</button>
                </div>
            </div>
        </div>
    </div>
(% endfor %)