<hr class="my-4" />
<h4>Attested Passkeys</h4>
<p>Passkeys originating from a signed authenticator.</p>
(% for passkey in attested_passkeys %)
    <div class="row mb-3">
        <div class="col d-flex align-items-center"><span>(( passkey.tag ))</span></div>
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-danger btn-sml" id="(( passkey.tag ))"
                    hx-target="#credentialUpdateDynamicSection"
                    hx-confirm="Are you sure you want to delete attested passkey (( passkey.tag )) ?"
                    hx-post="/ui/api/remove_passkey" hx-vals='{"uuid": "(( passkey.uuid ))"}'>
                Remove
            </button>
        </div>
    </div>
(% endfor %)