(% extends "base_htmx.html" %)

(% block title %)Reset Credentials(% endblock %)

(% block body %)
<main class="flex-shrink-0 container form-signin m-auto" id="cred-reset-form">
    <center>
        (% if domain_info.image().is_some() %)
        <img src="/ui/images/domain"
             alt="(( domain_info.display_name() ))" class="kanidm_logo" />
        (% else %)
        <img
            src="/pkg/img/logo-square.svg?v=((crate::https::cache_buster::get_cache_buster_key()))"
            alt="(( domain_info.display_name() ))" class="kanidm_logo" />
        (% endif %)
        <h2>(( domain_info.display_name() ))</h2>
        <div />
        <h3>Revoke Credential Reset Link</h3>
    </center>
    <form class="mb-3" action="/ui/revoke" method="post">
        <div class="mb-3">
            <input
                class="d-none"
                id="token"
                name="token"
                type="token"
                value="(( token ))"
            />

            <div>
                <p>Proceed to revoke the credential reset link?</p>
            </div>
        </div>
        <p class="d-flex flex-row flex-wrap justify-content-between">
            <button class="btn btn-primary"
                hx-post=""
                hx-include="form"
                hx-target="body"
                type="submit">
                Submit
            </button>
        </p>
    </form>
</main>
(% endblock %)
