%% extends "base_template.html" %%

%% block content %%
<main class="flex">
    <h1> Groups</h1>
    <div hx-ext="client-side-templates">
        <div hx-get="/v1/group" hx-trigger="load delay:500ms"
            hx-swap="innerHTML"
            hx-target="#content"
            mustache-array-template="foo">
            <p id="content">Loading...</p>

        </div>
    </div>
</main>

%% endblock content %%

%% block template %%
<template id="foo">
    {{#data}}
    <p>
        {{ description }}
    </p>
    {{/data}}
</template>
%% endblock %%