(% extends "login_base.html" %)

(% block logincontainer %)
<label for="password" class="form-label">Password</label>
<form id="login" action="/ui/login/pw" method="post">
	<div class="input-group mb-3">
		<input
			autofocus=true
			class="autofocus form-control"
			id="password"
			name="password"
			type="password"
			autocomplete="current-password"
			value="(( password ))"
			required=true
		/>
	</div>
	<div class="input-group mb-3 justify-content-md-center">
		<button
			type="submit"
			class="btn btn-primary"
		>Submit</button>
	</div>
</form>
(% endblock %)
