(% extends "base.html" %)

(% block title %)Login(% endblock %)

(% block head %)
(% endblock %)
form
(% block body %)
	<main id="main" class="form-signin m-auto align-items-center d-flex flex-column">
		(% if domain_custom_image %)
		<img src="/ui/images/domain" alt="Kanidm" class="kanidm_logo"/>
		(% else %)
		<img src="/pkg/img/logo-square.svg" alt="Kanidm" class="kanidm_logo"/>
		(% endif %)
		<h3>Kanidm</h3>
		<div>
			(% block logincontainer %)
			(% endblock %)
		</div>
	</main>
(% endblock %)
