
<label for="password" class="form-label">Password</label>
<form id="login" hx-post='/ui/api/login_pw' hx-target="#login-form-container" hx-push-url="false">
	<div class="input-group mb-3">
		<input
			autofocus=true
			class="autofocus form-control"
			id="password"
			name="password"
			type="password"
			autocomplete="current-password"
			value=""
			required=true
		/>
	</div>
	<div class="input-group mb-3 justify-content-md-center">
		<button
			type="submit"
			class="btn btn-dark"
		>Begin</button>
	</div>
</form>


