<nav class="(( crate::https::ui::CSS_NAVBAR_NAV ))">
    <div class="container-lg">
        <a class="(( crate::https::ui::CSS_NAVBAR_BRAND ))" href="/ui/apps">
            <img src="/pkg/img/logo.svg?v=((crate::https::cache_buster::get_cache_buster_key()))" alt="Kanidm brand logo" width="auto" height="40" class="navbar-toggler-img" />
            <div class="ps-2">Kanidm</div>
        </a>

        <!-- this shows a button on mobile devices to open the menu-->
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="(( crate::https::ui::CSS_NAVBAR_LINKS_UL ))">
                <li>
                    <a class="nav-link" href=((Urls::Apps))>
                        <span data-feather="file"></span>Apps</a>
                </li>
                <li>
                    <a class="nav-link" href=((Urls::Profile))>
                        <span data-feather="file"></span>Profile</a>
                </li>
            </ul>
            <ul class="(( crate::https::ui::CSS_NAVBAR_LINKS_UL )) ms-md-auto">
                <li>
                    <a class="nav-link" href="#" data-bs-toggle="modal"
                        data-bs-target="#signoutModal">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>