<nav class="navbar navbar-expand-md kanidm_navbar mb-4">
    <div class="container-lg">
        <a class="navbar-brand d-flex align-items-center" href="/ui/apps">
            (% if navbar_ctx.domain_info.image().is_some() %)
            <img src="/ui/images/domain"
                alt="(( navbar_ctx.domain_info.display_name() ))" width="auto" height="40" class="navbar-toggler-img" />
            (% else %)
            <img
                src="/pkg/img/logo.svg?v=((crate::https::cache_buster::get_cache_buster_key()))"
                alt="(( navbar_ctx.domain_info.display_name() ))" width="auto" height="40" class="navbar-toggler-img" />
            (% endif %)
            <div class="ps-2">(( navbar_ctx.domain_info.display_name() ))</div>
        </a>

        <!-- this shows a button on mobile devices to open the menu-->
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li>
                    <a class="nav-link" href=((Urls::Apps))>
                        <span data-feather="file"></span>Apps</a>
                </li>
                <li>
                    <a class="nav-link" href=((Urls::Profile))>
                        <span data-feather="file"></span>Profile</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-md-0 ms-md-auto">
                <li>
                    <a class="nav-link" href="#" data-bs-toggle="modal"
                        data-bs-target="#signoutModal">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
