(% extends "base.html" %)

(% block body %)
<label for="user_code" class="form-label">Please enter the code provided</label>
<form id="login" action="/ui/oauth2/device" method="post">
    <div class="input-group mb-3">
        <input
            autofocus=true
            class="autofocus form-control"
            id="user_code"
            name="user_code"
            type="text"
            autocomplete
            value="(( user_code ))"
            required=true />

    </div>
    <div class="input-group mb-3 justify-content-md-center">
        <button
            type="submit"
            class="btn btn-dark">Continue</button>
    </div>
</form>
(% endblock %)
