(% extends "user_settings_partial_base.html" %)

(% block selected_setting_group %)
Profile
(% endblock %)

(% block settings_window %)

    <h3>Account name: (( account_name ))</h3>
    <h3>Display name: (( display_name ))</h3>
    <h3>Legal name: (( legal_name ))</h3>
    (% if let Some(email) = email %)
        <h3>Email: (( email ))</h3>
    (% else %)
        <h3>Email is not set</h3>
    (% endif %)

    <!-- Edit button -->
    (% if can_rw %)
        <button class="btn btn-primary" type="button" hx-post="/ui/api/user_settings/edit_profile">Edit</button>
    (% else %)
        <button class="btn btn-primary" type="button" hx-post="/ui/reauth">Unlock Edit 🔒</button>
    (% endif %)
(% endblock %)

