[package]
name = "kanidmd_testkit"
description = "Kanidm Server Test Framework"
documentation = "https://docs.rs/kanidm/latest/kanidm/"

version = { workspace = true }
authors = { workspace = true }
rust-version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[lib]
name = "kanidmd_testkit"
path = "src/lib.rs"
test = true
doctest = false

[features]
default = []
# Enables webdriver tests, you need to be running a webdriver server
webdriver = []

[dependencies]
hyper-tls = { workspace = true }
http = { workspace = true }
kanidm_client = { workspace = true }
kanidm_proto = { workspace = true }
kanidmd_core = { workspace = true }
kanidmd_lib = { workspace = true }
lazy_static = { workspace = true }
openssl = { workspace = true }
regex = { workspace = true }
reqwest = { workspace = true, default-features = false, features = ["cookies"] }
serde = { workspace = true }
sketching = { workspace = true }
tempfile = { workspace = true }
testkit-macros = { workspace = true }
tokio = { workspace = true, features = [
    "net",
    "sync",
    "io-util",
    "macros",
    "rt",
] }
tracing = { workspace = true, features = ["attributes"] }
url = { workspace = true, features = ["serde"] }

[build-dependencies]
kanidm_build_profiles = { workspace = true }

[dev-dependencies]
assert_cmd = "2.0.12"
compact_jwt = { workspace = true }
escargot = "0.5.9"
# used for webdriver testing
fantoccini = { version = "0.19.3" }
futures = { workspace = true }
oauth2_ext = { workspace = true, default-features = false }
openssl = { workspace = true }
petgraph = { version = "0.6.4", features = ["serde", "serde-1"] }
serde_json = { workspace = true }
time = { workspace = true }
tokio-openssl = { workspace = true }
kanidm_lib_crypto = { workspace = true }
uuid = { workspace = true }
webauthn-authenticator-rs = { workspace = true }
jsonschema = "0.17.1"
