[package]
name = "kanidmd_web_ui_shared"
description = "Kanidm Server Web UI - Shared Library"
documentation = "https://docs.rs/kanidm/latest/kanidm/"

version = { workspace = true }
authors = [
    "William Brown <william@blackhats.net.au>",
    "James Hodgkinson <james@terminaloutcomes.com>",
]
rust-version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

# [lib]
# crate-type = ["cdylib", "rlib"]

[dependencies]
gloo = { workspace = true }
js-sys = { workspace = true }
kanidm_proto = { workspace = true, features = ["wasm"] }
lazy_static.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
serde-wasm-bindgen = { workspace = true }
time = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }
wasm-bindgen = { workspace = true }
wasm-bindgen-futures = { workspace = true }
yew = { workspace = true, features = ["csr"] }
yew-router = { workspace = true }

[dependencies.web-sys]
workspace = true
features = [
    # "AuthenticationExtensionsClientOutputs",
    # "AuthenticatorResponse",
    # "CredentialCreationOptions",
    # "CredentialRequestOptions",
    # "CredentialsContainer",
    "DomTokenList",
    "Element",
    "Event",
    "FocusEvent",
    "FormData",
    "Headers",
    "HtmlButtonElement",
    "HtmlDocument",
    "HtmlFormElement",
    "Navigator",
    # "PublicKeyCredential",
    # "PublicKeyCredentialCreationOptions",
    # "PublicKeyCredentialRpEntity",
    # "PublicKeyCredentialUserEntity",
    "Request",
    # "RequestCredentials",
    # "RequestInit",
    # "RequestMode",
    # "RequestRedirect",
    "Response",
    "Window",
]

[dev-dependencies]
wasm-bindgen-test = { workspace = true }
