---
name: Linting checks

# Trigger the workflow on push
"on":
  push:
    paths:
      - 'libs/**'
      - 'platform/**'
      - 'proto/**'
      - 'server/**'
      - 'tools/**'
      - 'unix_integration/**'
  pull_request:
    paths:
      - 'libs/**'
      - 'platform/**'
      - 'proto/**'
      - 'server/**'
      - 'tools/**'
      - 'unix_integration/**'

env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.6
        with:
          version: "v0.4.2"
      - name: Install dependencies
        run: |
          sudo apt-get update && \
          sudo apt-get install -y \
            libpam0g-dev \
            libudev-dev \
            libssl-dev \
            pkg-config \
            tpm-udev \
            libtss2-dev
      - name: "Run clippy"
        run: cargo clippy --lib --bins --examples --all-features
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.6
        with:
          version: "v0.4.2"
      - name: "Run cargo fmt"
        run: cargo fmt --check
