name: Clippy

# Trigger the workflow on push or pull request
"on": [push, pull_request]

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Update package manager
      run: sudo apt-get update

    - name: Install dependencies
      run: |
        sudo apt-get install -y \
          libpam0g-dev \
          libudev-dev \
          libssl-dev \
          libsqlite3-dev

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: "Run clippy (ignores errors, this is just a check)"
      command: cargo clippy --no-deps
      continue-on-error: true
