---
name: Spell Check

"on":
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install and run codespell
        run: |
          python -m pip install codespell
          make codespell
